#entry-values {
  display: grid;
  grid-template-columns: repeat(4, minmax(90px, 1fr));
  gap: 10px;
}

tr.eliminated td {
  color: #999;
}

@media screen and (max-width: 550px) {
  #entry-values {
    grid-template-columns: repeat(2, minmax(90px, 1fr));
  }
}
