<app-main-layout>
  @if (isLoading()) {
    <!-- <div class="flex justify-center items-center">
      <img width="50" height="50" src="spinner.gif" />
    </div> -->
  } @else if (!entryDetails()) {
    <span>Entry not found.</span>
  } @else {
    <p-card>
      <div id="entry-details" class="w-full">
        <div class="mb-4">
          <h1
            class="flex gap-1.5 justify-center items-center text-2xl font-bold mb-4 text-color text-center"
          >
            <span>#{{ entryDetails()!.rank }}</span>
            <span>{{ entryDetails()!.entry.Entry_Name }}</span>
          </h1>
          <div id="entry-values">
            <ng-container
              *ngTemplateOutlet="
                dataPoint;
                context: { $implicit: 'Teams Alive', value: entryDetails()!.entry.Teams_Alive }
              "
            ></ng-container>
            <ng-container
              *ngTemplateOutlet="
                dataPoint;
                context: { $implicit: 'Bonus Points', value: entryDetails()!.entry.Entry_Points }
              "
            ></ng-container>
            <ng-container
              *ngTemplateOutlet="
                dataPoint;
                context: { $implicit: 'Team Points', value: teamPoints() }
              "
            ></ng-container>
            <ng-container
              *ngTemplateOutlet="
                dataPoint;
                context: { $implicit: 'Total Points', value: totalPoints() }
              "
            ></ng-container>
          </div>
        </div>
        <h2 class="font-semibold text-lg mb-2 text-center">Selected Teams</h2>
        <p-table
          #dataTable
          [columns]="selectedColumns"
          [value]="entryDetails()!.teams"
          showGridlines
          sortField="Alive"
          [sortOrder]="-1"
          resizableColumns
          size="small"
        >
          <ng-template #caption>
            <p-multiselect
              display="chip"
              [options]="cols"
              [(ngModel)]="selectedColumns"
              optionLabel="header"
              selectedItemsLabel="{0} columns selected"
              [style]="{ 'min-width': '200px' }"
              placeholder="Choose Columns"
            />
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              @for (col of columns; track $index) {
                <th pResizableColumn [pSortableColumn]="col.field">
                  <div class="flex items-center gap-2">
                    {{ col.header }}
                    <p-sortIcon field="{{ col.field }}" />
                  </div>
                </th>
              }
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-team let-columns="columns">
            <tr [class.eliminated]="team.Alive === 'FALSE'">
              @for (col of columns; track $index) {
                @if (col.field === 'Teams') {
                  <td>{{ team.Teams }}</td>
                } @else if (col.field === 'Alive') {
                  <td class="text-center">{{ team.Alive === 'TRUE' ? 'Yes' : 'No' }}</td>
                } @else {
                  <td class="text-center">{{ team[col.field] }}</td>
                }
              }
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-card>
  }
</app-main-layout>

<ng-template #dataPoint let-label let-value="value">
  <div class="flex gap-2">
    <div
      class="w-2 h-full rounded-full shadow-[0px_3px_1px_0px_rgba(0,0,0,0.00),0px_2px_1px_0px_rgba(0,0,0,0.01),0px_1px_1px_0px_rgba(0,0,0,0.02),0px_0px_1px_0px_rgba(0,0,0,0.03)]"
      style="background: var(--p-primary-color)"
    ></div>
    <div>
      <div class="inline-flex items-center gap-1">
        <span class="text-2xl font-medium text-surface-950 dark:text-color">{{ value }}</span>
      </div>
      <div class="mt-1 text-sm text-surface-500">{{ label }}</div>
    </div>
  </div>
</ng-template>
